*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
ul {
    margin: 0;
}

body {
    background: #F1F9FF;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.page {
    max-width: 1066px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 60px;
}

.page__content {
    flex: 1;
}

.page__aside {
    width: 238px;
    margin-left: 31px;
    padding-top: 88px;
}

.title {
    font-weight: bold;
    font-size: 42px;
    line-height: 140%;
    color: #021B31;
    margin-top: 36px;
    margin-bottom: 25px;
}

.players {
    background: #FFFFFF;
    border-radius: 10px;
}

.players__header {

}

.players__content {
    padding: 0 20px 20px;
}

.teams-switch {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    height: 50px;
}

.teams-switch__team {
    width: 50%;
    padding: 0 28px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 50px;
    color: #184272;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.teams-switch__team.active {
    border-color: #0A8BFF;
    cursor: default;
    pointer-events: none;
    background: radial-gradient(50.14% 92.5% at 49.86% 92.5%, rgba(10, 139, 255, 0.17) 0%, rgba(255, 255, 255, 0) 100%);
)
}

.teams-switch__icon {
    margin-right: 16px;
}

.players-table {
    padding-top: 28px;
    font-weight: 600;
    font-size: 16px;
    color: #021B31;
    width: 100%;
    border-collapse: collapse;
}

.players-table caption {
    padding: 26px 0 16px;
    text-align: left;
    font-weight: bold;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #C1C1C1;
}

.players-table tr {
    border-radius: 5px;
}

.players-table td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.players-table td:first-child {
    border-radius: 5px 0 0 5px;
}

.players-table td:last-child {
    border-radius: 0 5px 5px 0;
}

.players-table td:nth-child(1) {
    padding-left: 29px;
}

.players-table td:nth-child(2) {
    padding-right: 20px;
}

.players-table td:nth-child(3) {
    padding-right: 20px;
    max-width: 289px;
}

.players-table tr:nth-child(odd) {
    background: #F8F8F8;
}

.player-stats {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-right: 65px;
}

.player-stats__item {
    margin-right: 20px;
}

.player-stats__item img {
    margin-left: 3px;
}

.cool-name a {
    color: #00D3ED;
    text-decoration: none;
    font-size: 12px;
    margin-left: 15px;
}

.views {
    padding-right: 10px;
}

.judges__block{
    width: 238px;
    height: 119px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 21px;
}

.judges-position{
    font-weight: bold;
    font-size: 12px;
    color: #C1C1C1;
    margin-top: 14px;
    margin-left: 19px;
}

.judges-name{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
    color: #021B31;
    margin-top: 10px;
    margin-left: 19px;
    margin-right: 19px;
}

.judges-name img{
    margin-top: -12px;
}

.judges-city{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 12px;
    color: #C1C1C1;
    margin-left: 19px;
    margin-top: 19px;
    margin-right: 16px;
}

.stadium-props {
    position: relative;
    background: url("images/stadium.png") no-repeat center;
    background-size: cover;
    min-height: 320px;
    border-radius: 10px;
}

.stadium-props__footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.stadium-props__city {
    padding: 22px 90px 0 22px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.stadium-props__weather {
    position: absolute;
    top: 44px;
    right: 0;
    font-weight: 500;
    font-size: 36px;
    text-align: right;
    color: #FFFFFF;
    margin-top: -13px;
    padding-right: 23px;
    padding-left: 23px;
}

.stadium-props__location {
    padding: 20px;
    font-weight: 600;
    color: #FFFFFF;
}

.stadium-props__location img {
    display: block;
    margin-bottom: 10px;
}

.stadium-props__line {
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    height: 2px;
    margin: 0 20px 14px;
}

.stadium-props__people-quantity {
    font-weight: 600;
    text-align: right;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-left: 21px;
    padding-right: 20px;

}

.official-judges{
    padding-top: 34px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #C1C1C1;
}




